<div class="info">
<h1>New Party</h1>
<%= form_for @parties do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :ideology %>
		<%= f.text_area :ideology %>
	</p>
		<%= f.label :seats %>
		<%= f.number_field :seats %>
	<p>
		<%= f.label :members %>
		<%= f.number_field :members %>
	</p>
	<p>
		<%= f.label :history %>
		<%= f.text_area :history %>
	</p>
	<p>
		<%= f.label :emblem %>
		<%= f.text_field :emblem %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
</div>
