<div class="info">
	<h1> <%= @party.name %> </h1>

	<p><%= image_tag @party.emblem, :class => "thumb" %></p>

	<ul><p class="branch-text">Ideology: <%= @party.ideology %></p>
	<p></p>
	<p class="branch-text">Seats:  <%= @party.seats %></p>
	<p></p>
	<p class="branch-text">Members: <%= @party.members %></p>
	<p></p>
	<p class="branch-text">History: <%= @party.history %></p>
	</ul>

	<a>
		<h3><strong> Images of <%= link_to "Politicians", politicians_path %> who are in this <%= link_to "Party", parties_path %> below: </strong></h3>
		<% @party.politicians.each do |politician| %>
		<div class="smallthumb">
			<%= link_to(image_tag(politician.image), politician) %>
		</div>
		<% end %>
	</a>
	<p>
		<% if @current_user && @current_user.admin? %>
			<p>
				<%= link_to 'Edit', edit_party_path %>
				<%= button_to('Delete', party_path(@party.id), :method => 'delete') %>
			</p>
		<% end %>
	</p>
</div>