<div class="info">
	<h1> Edit <%= @branch.name %></h1>

	<%= form_for @branch do |f| %>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :functions %>
			<%= f.text_area :functions %>
		</p>
		<p>
			<%= f.label :powers %>
			<%= f.text_area :powers %>
		</p>
		<p>
			<%= f.label :history %>
			<%= f.text_area :history %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>


