<div class="info">
	<h1> NEW BRANCH </h1>

	<%= form_for @branches do |f| %>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :functions %>
			<%= f.text_area :functions %>
		</p>
			<%= f.label :powers %>
			<%= f.text_area :powers %>
		<p>
			<%= f.label :history %>
			<%= f.text_area :history %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>