<div class="info">
	<h1> <%= @branch.name %></h1>

	<ul>
		<li class="branch-text"><%= @branch.functions %></li>
		<li class="branch-text"><%= @branch.powers %></li>
		<li class="branch-text"><%= @branch.history %></li>
	</ul>
	<% if @current_user && @current_user.admin? %>
		<p>
			<%= link_to 'Edit', edit_branch_path %>
			<%= button_to('Delete', branch_path(@branch.id), :method => 'delete') %>
		</p>
	<% end %>
</div>

