<h1> <%= @politician.name %></h1>

<h3> <%= @politician.role %> </h3>
<p> <%= image_tag @politician.image, :class => "thumb" %> </p>
<p> <%= @politician.previous_works %> </p>
<p> <%= @politician.location %> </p>

<p>
<%= link_to 'Edit', edit_politician_path %>
<%= button_to('Delete', politician_path(@politician.id), :method => 'delete') %>
</p>



