<!DOCTYPE html>
<html>
<head>
  <title>ProjectOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<a><%= link_to 'Home', '/' %></a>
		<a><%= link_to 'Branches of Government', branches_path %></a>
		<a><%= link_to 'Create Branch', new_branch_path %></a>
		<a><%= link_to 'Politicians', politicians_path %></a>
		<a><%= link_to 'Create Politician', new_politician_path %></a>
	</nav>

<%= yield %>

</body>
</html>
